{sys, [
       {lib_dirs, []},
       {rel, "embryosys", "0.1",
        [
         kernel,
         stdlib,
         sasl,
         similar,
         orange
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "embryosys"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
       {app, orange, [{incl_cond, include}]}
       {app, similar, [{incl_cond, include}]}
      ]}.

{target_dir, "embryosys"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/embryosys", "bin/embryosys"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
